<% layout("/Layouts/biolerplate.ejs") %>

    <div class="userProfile">

        <div class="userInfo">

            <div class="profilePicture">
                <img src="<%= userProfile.user.profilePic %>" alt="">
            </div>

            <div class="rightSide">
                <b class="UserProfileName">
                    <%= userProfile.user.fullName %>
                </b>

                <i>
                    <%= userProfile.user.email %>
                </i>

                <p>
                    <%= userProfile.user.bio %>
                </p>
                <p style="display: inline;">
                    Followers : <b>
                        <%= userProfile.user.followers.length  %>
                    </b>
                </p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p style="display: inline;">
                    Followings : <b>
                        <%= userProfile.user.following.length  %>
                    </b>
                </p>
                <br>
                <br>

                <button class="btn btn-success btn-sm">Follow</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary btn-sm">Message</button>
            </div>

        </div>



    </div>