<% layout("/Layouts/biolerplate.ejs") %>
    <div class="showPage">
        <p style="color: white;">show page</p>
        <div class="showCard m-3">
            UserId : <i>
                <%= showPost._id %>
            </i>


            <span class="user">
                <img class="showPageUserProfilePic" src=<%= showPost.user.profilePic %> alt="userProfilePic">
                <b>
                    <%= showPost.user.username %>
                </b>
                <span class="time">
                    <%= showPost.createdAt.toString().split(" ").splice(0,4).join(" ") %>
                </span>
            </span>

            <span class=" showBtn">...
                </span>
                <span class="showBtnLinks">

                    <a href="/" class="m-2">Exit</a>

                    <form method="get" action="/edit/<%= showPost._id %>">
                        <button
                            style="border: none; background-color: transparent; font-weight: 700; color: white;">Edit</button>
                    </form>

                    <form method="post" action="/delete/<%= showPost._id %>?_method=DELETE">
                        <button
                            style="border: none; background-color: transparent; font-weight: 700; color: white;">Delete</button>
                    </form>
                </span>

                <div class="post">
                    <img src=<%=showPost.image %> alt="" >
                </div>
                <div class="caption">
                    Caption : <b>
                        <%= showPost.caption %>
                    </b>
                </div>
                <div class="like">
                    <span>Likes : </span>
                    <%= showPost.likes %>
                </div>
                <div class="comments">
                    <span>Comments :</span>

                    <% for(comment of showPost.comments) {%>
                        <ul>
                            <li>
                                <%= comment.text %>
                            </li>
                        </ul>
                        <% }%>
                </div>
        </div>
    </div>